:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  overflow-x: clip;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Quicksand, sans-serif;
}


.grid-area-stack {
  display: grid;
  grid-template-areas: "stack";
  >* {
    grid-area: stack;
  }
}

.z-nav {
  z-index: 1000;
}
.z-modal {
  z-index: 10000;
}